<br/>
<br/>
<div class="has-text-centered">
  <div class="field">
      <div class="select" id="newsSelector">
        <select>
          <option value="header">Choose a Crypto News Data source</option>
          <option value="cryptocontrol">Crypto Control</option>
          <option value="cryptopanic">Crypto Panic</option>
          <option value="cryptonews">News API</option>
        </select>
      </div>
    </div>
    <div class="field">
      <a class="button is-primary" id="searchNews"> Search </a>
    </div>
      <div class="container" id="newsContainer"> </div>
</div>
