<br/>
<br/>
<div class="has-text-centered">
  <div class="field">
      <div class="select" id="socialSelector">
        <select>
          <option>Choose a Crypto Social Data source</option>
          <option value="twitter">Twitter</option>
          <option value="reddit">Reddit</option>
        </select>
      </div>
    </div>
    <div class="field">
      <a class="button is-primary" id="searchSocial"> Search </a>
    </div>
      <div class="container" id="socialContainer"> </div>
</div>
