<br/>
<br/>
<div class="has-text-centered">
  <div class="field">
      <div class="select" id="visualSelector">
        <select>
          <option>Choose a Cryptocurrency to Visualize</option>
          <option value="BTCUSD">Bitcoin</option>
          <option value="XRPUSD">Ripple</option>
          <option value="ETHUSD">Ethereum</option>
        </select>
      </div>
    </div>
    <div class="field">
      <a class="button is-primary" id="searchVisual"> Search </a>
    </div>
      <div class="container" id="visualContainer"> </div>
</div>
